{% extends 'base.html' %}

{% block head %}
    <title>Adventure Game</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Adventure Game</h1>

    <!-- Command Input -->
    <div class="form" style="text-align: center;">
        {% if cmd %}
            <div class="last-cmd" style="margin-bottom: 10px;">
                Last Command: <strong>{{ cmd }}</strong>
            </div>
        {% endif %}

        <form action="/game/{{ db_player.id }}" method="POST">
            <input class="input-element" type="text" name="cmd" id="cmd" autofocus autocomplete="off" required>
            <input class="button" type="submit" value="CMD">
        </form>

        <div style="font-size: 1em; color: darkblue; margin-top: 4px; text-align: center;">
            Tip: Type <strong>help</strong> to see commands.
        </div>
    </div>

    <!-- Game Output -->
    {% if debug1 %}
        <div class="game-section">OUTPUT</div>
        <div class="game-output">{{ debug1['CMD_RESPONSE'] }}</div>

        <!-- Event Messages: below OUTPUT -->
        {% if debug1['EVENT_MESSAGES'] and debug1['EVENT_MESSAGES']|length > 0 %}
        <div class="game-section">EVENTS</div>
        <div class="game-output" style="font-size:0.9em; color: darkorange; margin-top:3px;">
            {% for message in debug1['EVENT_MESSAGES'] %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}

        <div class="game-section">ROOM DESCRIPTION</div>
        <div class="game-output">{{ debug1['ROOM_DESCRIPTION'] }}</div>

        <div class="game-section">EXITS</div>
        <div class="game-output">{{ debug1['ROOM_EXITS'] }}</div>

        <div class="game-section">ROOM ITEMS</div>
        <div class="game-output items">
            {% for item in debug1['ROOM_INVENTORY'] %}
                <span class="inline-list">{{ item.name }}</span>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Player Inventory -->
    <div class="game-section">PLAYER INVENTORY</div>
    <div class="game-output items">
        {% if player_inv %}
            {% for item in player_inv %}
                <span class="inline-list">{{ item.name }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <br>

    <!-- Back Button -->
    <div style="text-align: center">
        <a href="{{ url_for('index') }}" class="button-small">Back to Game Portal</a>
    </div>

    <!-- Debugging Section -->
    <h1 style="text-align: center">Debugging</h1>
    <div class="game-debug">
        <div>ID: {{ db_player['id'] }}</div>
        <div>USER: {{ db_player['username'] }}</div>
        <div>LOCATION: {{ db_player['location'] }}</div>
        <div>DB CMD: {{ db_player['cmd_info'] }}</div>
        <div>INVENTORY: {{ db_player['player_inventory'] }}</div>
        <div>ALL ROOM ITEMS: {{ db_player['room_inventory'] }}</div>
    </div>
</div>
{% endblock %}
